.advantages {
  &__swiper {
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;

    @include vp-1200 {
      padding-bottom: 107px;
    }

    @include vp-1199 {
      max-width: 768px;
      padding: 0 45px 70px;
      gap: 45px;
    }

    @include vp-767 {
      padding: 0 15px 70px;
      gap: 30px;
    }
  }

  & h2 {
    padding-right: 0;
  }

  & h2::before {
    left: auto;

    @include vp-1200 {
      right: -75px;
    }

    @include vp-1199 {
      right: -60px;
    }

    @include vp-767 {
      right: -15px;
    }
  }

  &__swiper-container {
    @include vp-1199 {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    @include vp-1199 {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include vp-1200 {
      display: none;
    }

    @include vp-1199 {
      gap: 30px;
    }

    @include vp-767 {
      gap: 15px;
    }
  }

  &__buttons {
    @include vp-1200 {
      padding-top: 5px;
      position: static;
    }

    @include vp-1199 {
      display: none;
    }
  }
}
