.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: $color-navy-blue;
  width: 37px;
  height: 35px;
  cursor: pointer;
  color: $color-default-white;
  user-select: none;
  transition: background-color 0.3s ease;

  &--next {
    transform: rotate(180deg);
  }

  @include hover-focus {
    background-color: $color-transparent;
    outline: none;
    border: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
  }

  @include active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &[disabled]:hover {
    background-color: $color-navy-blue;
    color: $color-default-white;
    border: 1px solid $color-transparent;
  }
}
