.footer-nav {
  @include vp-1200 {
    margin: 0 auto;
    padding-right: 64px;
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include vp-1200 {
      max-width: 594px;
      margin: 0 auto;
      row-gap: 10px;
      column-gap: 21px;
      justify-content: center;
    }

    @include vp-1199 {
      gap: 9px;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;
      row-gap: 13px;
      column-gap: 28px;
    }
  }

  &__link {
    border: 1px solid $color-transparent;

    @include vp-1200 {
      padding: 2px 5px;
    }

    @include vp-1199 {
      font-size: 14px;
      line-height: 14px;
      padding: 2px 5px;
    }

    @include vp-767 {
      padding: 0;
    }

    @include hover {
      border-bottom: 1px solid $color-elephant;
    }

    @include active {
      border: 1px solid $color-transparent;
    }

    @include focus {
      outline: none;
      border: 1px solid $color-elephant;
    }
  }
}
