.form {
  position: relative;
  text-align: center;
  color: $color-default-white;

  @include vp-1200 {
    padding: 308px 231px 307px;
  }

  @include vp-1199 {
    padding: 192px 246px 183px;
  }

  @include vp-767 {
    padding: 181px 15px 175px;
  }

  & form {
    display: flex;
    margin: 0 auto;

    @include vp-1200 {
      justify-content: space-between;
      gap: 30px;
      max-width: 1200px;
    }

    @include vp-1199 {
      flex-direction: column;
      max-width: 266px;
      gap: 7px;
    }

    @include vp-767 {
      width: 100%;
      max-width: none;
    }
  }

  & h2 {
    padding: 0;
  }

  & p {
    font-size: 16px;
    line-height: 24px;

    @include vp-1200 {
      padding: 20px 0 42px;
    }

    @include vp-1199 {
      padding: 15px 0 30px;
      max-width: 295px;
      margin: 0 auto;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      padding: 14px 0 26px;
    }
  }

  &__input {
    @include vp-1200{
      font-size: 16px;
      line-height: 16px;
      width: 340px;
    }

    @include vp-1199{
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__input input {
    width: 100%;
    height: 100%;
    border: 1px solid $color-transparent;

    @include vp-1200 {
      padding: 24px 30px;
    }

    @include vp-1199 {
      padding: 18px 15px;
    }
  }

  &__input.is-invalid input {
    border: 1px solid $color-torch-red;
  }

  &__button {
    padding: 21px 0;
    outline: none;
    border: none;
    background-color: $color-navy-blue;
    color: $color-default-white;

    @include vp-1200 {
      width: 238px;
    }

    @include vp-1199 {
      margin-top: 8px;
    }

    @include vp-767 {
      margin-top: 0;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: $color-elephant;
  }

  &__image img {
    width: 100%;
  }
}
