.form {
  position: relative;
  text-align: center;
  color: $color-default-white;
  overflow: hidden;

  @include vp-1200 {
    padding: 312px 231px 306px;
  }

  @include vp-1199 {
    padding: 195px 235px 183px;
  }

  @include vp-767 {
    padding: 181px 15px 175px;
  }

  & form {
    display: flex;
    margin: 0 auto;

    @include vp-1200 {
      justify-content: space-between;
      gap: 30px;
      max-width: 1200px;
    }

    @include vp-1199 {
      flex-direction: column;
      max-width: 266px;
      gap: 7px;
    }

    @include vp-767 {
      width: 100%;
      max-width: none;
    }
  }

  & h2 {
    padding: 0;

    @include vp-1200 {
      padding: 0 16px 0 0;
    }
  }

  & p {
    font-size: 16px;
    line-height: 24px;

    @include vp-1200 {
      padding: 16px 16px 42px 0;
    }

    @include vp-1199 {
      padding: 19px 0 30px;
      max-width: 295px;
      margin: 0 auto;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      padding: 14px 0 26px;
    }
  }

  &__input {
    @include vp-1200 {
      font-size: 16px;
      line-height: 16px;
      width: 340px;
    }

    @include vp-1199 {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__input input {
    width: 100%;
    height: 100%;
    border: 1px solid $color-transparent;

    @include vp-1200 {
      padding: 22px 30px;
    }

    @include vp-1199 {
      padding: 15px 15px;
    }

    @include focus {
      border: 1px solid $color-resolution-blue;
      outline: none;
    }

    &:hover {
      border: 1px solid $color-navy-blue;
    }
  }

  &__input input:focus::placeholder {
    color: $color-transparent;
  }

  &__input input:hover::placeholder {
    color: $color-navy-blue;
  }

  &__input.is-invalid input {
    border: 1px solid $color-torch-red;
  }

  &__input:disabled input {
    opacity: 0.2;
  }

  &__button {
    padding: 21px 0;
    outline: none;
    border: none;
    background-color: $color-navy-blue;
    color: $color-default-white;
    user-select: none;

    @include vp-1200 {
      width: 238px;
    }

    @include vp-1199 {
      margin-top: 8px;
    }

    @include vp-767 {
      padding: 17px 0;
      margin-top: 4px;
    }

    @include hover-focus {
      background-color: $color-default-white;
      outline: none;
      border: 1px solid $color-resolution-blue;
      color: $color-resolution-blue;
    }

    @include active {
      background-color: $color-resolution-blue;
      color: $color-default-white;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: $color-elephant;
  }

  &__image img {
    width: 100%;
  }
}
