.gallery {
  &__header {
    position: relative;
    margin: 0 auto;

    @include vp-1200 {
      max-width: 1230px;
      padding: 0 15px 45px;
    }

    @include vp-1199 {
      max-width: 708px;
      padding: 0 15px 36px;
    }

    @include vp-767 {
      max-width: none;
      padding: 0 15px 64px;
    }
  }

  &__header p {
    @include vp-1200 {
      line-height: 24px;
      max-width: 60%;
      padding-top: 24px;
    }

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
      max-width: 60%;
      padding-top: 25px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      max-width: 100%;
      width: 100%;
      padding-top: 15px;
    }
  }

  &__buttons {
    @include vp-1200 {
      top: 76px;
      right: 15px;
    }

    @include vp-1199 {
      top: 73px;
      right: 15px;
    }

    @include vp-767 {
      right: 15px;
      top: 125px;
    }
  }
}
