.hero-photos {
  &__hero-photo {
    position: absolute;

    @include vp-767 {
      display: none;
    }
  }

  &__hero-photo--front {
    @include vp-1200 {
      bottom: 139px;
      right: 120px;
    }

    @include vp-1199 {
      bottom: 170px;
      right: 163px;
    }
  }

  &__hero-photo--back {
    @include vp-1200 {
      bottom: 190px;
      right: 224px;
    }

    @include vp-1199 {
      bottom: 183px;
      right: 339px;
    }
  }
}
