.hero {
  &__header-container {
    @include vp-1200 {
      display: flex;
      justify-content: center;
      position: relative;
    }
  }

  &__intro-container {
    @include vp-1200 {
      background-color: $color-san-marino;
      background-image: url(../../img/kavkaz_desktop.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: url(../../img/kavkaz_desktop@2x.webp);
      }
    }
  }
}
