.hero {
  &__header-container {
    margin: 0 auto;

    @include vp-1200 {
      position: relative;
      max-width: 1440px;
      display: flex;
      justify-content: center;
    }

    @include vp-1199 {
      position: relative;
    }
  }

  &__intro-container {
    background-color: $color-san-marino;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
  }

  &__intro-container--kavkaz {
    @include vp-1200 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_desktop.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_desktop@2x.webp);
      }
    }

    @include vp-1199 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_tablet.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_tablet@2x.webp);
      }
    }

    @include vp-767 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_mobile.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kavkaz_mobile@2x.webp);
      }
    }
  }

  &__intro-container--kavkaz .intro__text {
    @include vp-1200 {
      width: 400px;
      padding-top: 24px;
    }

    @include vp-1199 {
      width: 430px;
      padding-top: 15px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__intro-container--kamchatka {
    @include vp-1200 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_desktop.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_desktop@2x.webp);
      }
    }

    @include vp-1199 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_tablet.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_tablet@2x.webp);
      }
    }

    @include vp-767 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_mobile.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/kamchatka_mobile@2x.webp);
      }
    }
  }

  &__intro-container--kamchatka .intro__text {
    @include vp-1200 {
      width: 500px;
      padding-top: 24px;
    }

    @include vp-1199 {
      width: 460px;
      padding-top: 15px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__intro-container--kamchatka .intro__text span br {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }

  &__intro-container--altay {
    @include vp-1200 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/altay_desktop.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/altay_desktop@2x.webp);
      }
    }

    @include vp-1199 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/altay_tablet.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/altay_tablet@2x.webp);
      }
    }

    @include vp-767 {
      background-image: $gradient-dark-bacground, url(../../img/pictures/altay_mobile.webp);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
        background-image: $gradient-dark-bacground, url(../../img/pictures/altay_mobile@2x.webp);
      }
    }
  }

  &__intro-container--altay .intro__title {
    @include vp-1199 {
      width: 670px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__intro-container--altay .intro__text {
    @include vp-1200 {
      width: 450px;
      padding-top: 24px;
    }

    @include vp-1199 {
      width: 460px;
      padding-top: 15px;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
