.review {
  &__wrapper {
    padding: 15px;

    @include vp-1199 {
      padding: 25px 15px 15px;
    }

    @include vp-767 {
      padding: 33px 15px 15px;
    }
  }

  &__inner {
    padding: 20px;
    box-shadow: 0px 0px 15px 0px $color-box-shadow;
    display: flex;
    gap: 30px;
    background-color: $color-default-white;

    @include vp-767 {
      display: block;
    }
  }

  &__photo {
    flex-shrink: 0;
  }

  &__photo img {
    background-color: $color-elephant;

    @include vp-767 {
      width: 100%;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vp-767 {
      gap: 15px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 22px;

    @include vp-1200 {
      width: 450px;
    }

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__text span {
    display: inline-block;
  }

  &__text span:first-child {
    padding: 13px 0 12px;

    @include vp-1199 {
      padding: 5px 0 10px;
    }

    @include vp-767 {
      padding: 19px 0 10px;
    }
  }

  &__caption {
    @include vp-1200 {
      padding-bottom: 15px;
    }
  }

  &__caption p {
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
    padding-bottom: 5px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__caption span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
}
