.tours {
  position: relative;

  @include vp-1200 {
    width: 100%;
    padding: 113px calc(50% - 600px) 116px;
  }

  @include vp-1199 {
    width: 100%;
    padding: 78px calc(50% - 339px) 78px;
  }

  @include vp-767 {
    padding: 66px calc(50% - 145px) 68px;
  }

  &__buttons.swiper-buttons {
    @include vp-1200 {
      top: 123px;
      right: calc(50% - 600px);
    }

    @include vp-1199 {
      top: 82px;
      right: calc(50% - 340px);
    }

    @include vp-767 {
      top: 69px;
      right: calc(50% - 145px);
      gap: 4px;
    }
  }

  &__swiper-container {
    @include vp-1199 {
      padding: 0 6px;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__cards {
    @include vp-1200 {
      padding-top: 54px;
    }

    @include vp-1199 {
      padding-top: 43px;
    }

    @include vp-767 {
      padding-top: 28px;
    }
  }

  &__show-tours {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    gap: 12px;
    color: $color-elephant;
    stroke: $color-elephant;
    letter-spacing: 0.6px;

    @include vp-1200 {
      padding-top: 52px;
    }

    @include vp-1199 {
      padding-top: 50px;
    }

    @include vp-767 {
      padding-top: 29px;
      font-size: 14px;
      line-height: 14px;
    }

    @include hover-focus {
      color: $color-resolution-blue;
      outline: none;
      stroke: $color-resolution-blue;
    }

    @include active {
      color: $color-navy-blue;
      stroke: $color-navy-blue;
    }
  }

  &__cloud-bcgr {
    position: absolute;
    z-index: -2;

    @include vp-1200 {
      left: -170px;
      top: 360px;
    }

    @include vp-1199 {
      display: none;
    }
  }

  &__mounts-bcgr {
    position: absolute;
    z-index: -2;

    @include vp-1200 {
      right: 0;
      top: -20px;
    }

    @include vp-1199 {
      right: 0;
      top: -110px;
    }

    @include vp-767 {
      right: 0;
      top: 130px;
    }
  }

  &__mounts-bcgr img {
    width: 100%;
    vertical-align: middle;
  }
}
